@import '@nop-chaos/flux-react/default-spacing.css';
@import '@nop-chaos/flux-renderers-form/form-renderers.css';
@import '@nop-chaos/flux-renderers-content/styles.css';
@import '@nop-chaos/flux-renderers-layout/styles.css';

.nop-flux-root {
  display: contents;
}

.nop-flux-root .nop-node-error {
  width: fit-content;
  max-width: 100%;
}
